Flask
Flask-Session
psycopg2-binary
SQLAlchemy

Server [localhost]: ec2-54-217-213-79.eu-west-1.compute.amazonaws.com
Database [postgres]: da3adbejv5l69
Port [5432]: 5432
Username [postgres]: wooyuuotbaeaoe
Password for user wooyuuotbaeaoe: 6bbdda781338dade15ccb74ca9b044fc16b5227c99f99fdf393f908488fc8dee